/*
Colors

salmon: #ff6f69;
yellow: #dcd549;
mint: #96ceb4;
brightMint: #88d8b0;
teal: #033b45;
*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px 20px 20px 20px;
  background-color: #ff6f69;
}

.App-title {
  font-size: 2.5em;
  color: #033b45;
}

.App-intro {
  font-size: 4vh;
}

p {
  padding-top: 200px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
