.eveningSky {
  height: 100vh;
  padding: 50px; 
  animation: _eveningSky 5s infinite;
}
.eveningSun  {
  width: 50%;
  margin: auto;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50px;
  position: relative;
  -webkit-animation: _eveningSun 5s infinite; /* Safari*/
  animation: _eveningSun 5s infinite;
}

@-webkit-keyframes _eveningSun { 
  0%  {top: 100px; left: 0px; background: #fff9c9;}
  25%  {top: 125px; left: 25px; background: orange;}
  50%  {top: 150px; left: 50px; background: orange;}
  75%  {top: 175px; left: 75px; background: red;}
  100% {top: 200px; left: 100px; background: purple;}
}

@keyframes _eveningSun {
  0%  {top: 100px; left: 0px; background: #fff9c9;}
  25%  {top: 125px; left: 25px; background: orange;}
  50%  {top: 150px; left: 50px; background: orange;}
  75%  {top: 175px; left: 75px; background: red;}
  100% {top: 200px; left: 100px; background: purple;}
}

@-webkit-keyframes _eveningSky {
  0% {
    background-color: #77aaff;;
  }
  25% {
    background-color: #a4522d;
  }
  50% {
    background-color: #7f3f40;
  }
  75% {
    background-color: #552b53;
  }
  100% {
    background-color: #000000;
  }
}

@keyframes _eveningSky {
  0% {
    background-color: #77aaff;;
  }
  25% {
    background-color: #a4522d;
  }
  50% {
    background-color: #7f3f40;
  }
  75% {
    background-color: #552b53;
  }
  100% {
    background-color: #000000;
  }
}
