.morningSky {
  height: 100vh;
  padding: 50px; 
  animation: _morningSky 5s infinite;
}
.morningSun {
  width: 50%;
  margin: auto;
  width: 50px;
  height: 50px;
  background: #190019;
  border-radius: 50px;
  position: relative;
  -webkit-animation: _morningSun 5s infinite; /* Safari*/
  animation: _morningSun 5s infinite;
}

/* Safari*/
@-webkit-keyframes _morningSun {
  0%   {top: 150px; left: -125px; background: purple;}
  25%  {top: 125px; left: -100px; background: red;}
  50%  {top: 75px; left: -75x; background: orange;}
  75%  {top: 50px; left: -50px; background: #fff399;}
  100% {top: 25px; left: -25px; background: #fff9c9;}
}

@-webkit-keyframes _morningSky {
  0% {
    background-color: #190019;
  }
  50% {
    background-color: #ff8000;
  }
  100% {
    background-color: #77aaff;
  }
}

@keyframes _morningSun {
  0%   {top: 150px; left: -125px; background: purple;}
  25%  {top: 125px; left: -100px; background: red;}
  50%  {top: 75px; left: -75x; background: orange;}
  75%  {top: 50px; left: -50px; background: #fff399;}
  100% {top: 25px; left: -25px; background: #fff9c9;}
}

@keyframes _morningSky {
  0% {
    background-color: #190019;
  }
  50% {
    background-color: #ff8000;
  }
  100% {
    background-color: #77aaff;
  }
}
